.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.navindex.html {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.navlink {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}