.text1 {
    color: #111111;
   
    
}

 

 .blue {
    color: #4A4FF2;

 }


 .container {
    display: grid;
    grid-template-columns: repeat(12 3fr);
    grid-template-rows: 7fr 6fr 10fr 8fr 7fr 7fr 8fr 9fr 9fr 9fr 10fr 6fr;
    /*column-gap: 1em;
    row-gap: 1em;*/
    gap: 1%;
    .rec1 {
        grid-row-start: 1;
        grid-row-end: 8;
        grid-column-start: 1;
        grid-column-end: 4;
    

    }
    .rec2 {
        grid-row-start: 1;
        grid-row-end: 7;
        grid-column-start: 4;
        grid-column-end: 7;
        
    }
    .rec3 {
        grid-row-start: 1;
        grid-row-end: 11;
        grid-column-start: 7;
        grid-column-end: 10;
        
    }
    .rec4 {
        grid-row-start: 8;
        grid-row-end: 16;
        grid-column-start: 1;
        grid-column-end: 4;
        
    }
    .rec5 {
        grid-row-start: 7;
        grid-row-end: 14;
        grid-column-start: 4;
        grid-column-end: 7;
    }
    .rec6 {
        grid-row-start: 11;
        grid-row-end: 18;
        grid-column-start: 7;
        grid-column-end: 10; 
    }
    .rec7 {
        grid-row-start: 16;
        grid-row-end: 24;
        grid-column-start: 1;
        grid-column-end: 4;  
    }
    .rec8 {
        grid-row-start: 14;
        grid-row-end: 23;
        grid-column-start: 4;
        grid-column-end: 7; 
    }
    .rec9 {
        grid-row-start: 18;
        grid-row-end: 27;
        grid-column-start: 7;
        grid-column-end: 10; 
    }
    .rec10 {
        grid-row-start: 24;
        grid-row-end: 33;
        grid-column-start: 1;
        grid-column-end: 4; 
    }
    .rec11 {
        grid-row-start: 23;
        grid-row-end: 33;
        grid-column-start: 4;
        grid-column-end: 7;  
    }
    .rec12 {
        grid-row-start: 27;
        grid-row-end: 33;
        grid-column-start: 7;
        grid-column-end: 10;  
    }
}

.text2 {
    display: flex;
    width: 1079px;
    height: 106px;
    
    .text2_1 {
        height: 106px;
        width: 635px;
        font-family: 'Mulish', sans-serif;
        font-style: Bold;
        font-size: 28px;
        line-height: 38px;
        padding: 0px;
    }
    .service {
        width: 444;
        height: 106;
        font-family: 'Mulish', sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: 0px;
        justify-content: flex-end;

    }
}

.container2 {
    display: grid;
    /*width: 1110px;
    height: 823px;*/
    font-family: 'Mulish', sans-serif;
    .a {

    }
    .b {

    }
    .c {

    }
    .d {

    }
    .a- {

    }
    .b- {

    }
    .c- {

    }
    .a-- {

    }
    .b-- {

    }
    .c-- {

    }
    .d-- {

    }
    .a--- {

    }
    .b--- {

    }
    .c--- {

    }
    .d--- {
        
    }
    
}

