.text1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 20px;
    color: #111111;
    .text1_2 {
        max-width: 635px;
        width: 100%;
        min-height: 251px;
        .rec {
            width: 212;
            height: 34;
            fill: #111111;
        }
    }
   
    
}

 

 .blue {
    color: #4A4FF2;

 }


 .container {
    display: -ms-grid;
    display: grid;
    max-width: 1110px;
    width: 100%;
    min-height: 1960px;
    margin-left: 20px;
    -ms-grid-columns: ()[12 3fr];
    grid-template-columns: repeat(12 3fr);
    -ms-grid-rows: 7fr 6fr 10fr 8fr 7fr 7fr 8fr 9fr 9fr 9fr 10fr 6fr;
    grid-template-rows: 7fr 6fr 10fr 8fr 7fr 7fr 8fr 9fr 9fr 9fr 10fr 6fr;
    
    
    .rec1 {
        max-width: 357px;
        width: 100%;
        min-height: 413px;
        -ms-grid-row: 1;
            grid-row-start: 1;
        -ms-grid-row-span: 7;
        grid-row-end: 8;
        -ms-grid-column: 1;
            grid-column-start: 1;
        -ms-grid-column-span: 3;
        grid-column-end: 4;
   
 
    }
    .rec2 {
        max-width: 356px;
        width: 100%;
        min-height: 351px;
        -ms-grid-row: 1;
            grid-row-start: 1;
        -ms-grid-row-span: 6;
        grid-row-end: 7;
        -ms-grid-column: 4;
            grid-column-start: 4;
        -ms-grid-column-span: 3;
        grid-column-end: 7;
       
    }
    .rec3 {
        max-width: 350px;
        width: 100%;
        min-height: 599px;
        -ms-grid-row: 1;
            grid-row-start: 1;
        -ms-grid-row-span: 10;
        grid-row-end: 11;
        -ms-grid-column: 7;
            grid-column-start: 7;
        -ms-grid-column-span: 3;
        grid-column-end: 10;
       
    }
    .rec4 {
        max-width: 357px;
        width: 100%;
        min-height: 475px;
        -ms-grid-row: 8;
            grid-row-start: 8;
        -ms-grid-row-span: 8;
        grid-row-end: 16;
        -ms-grid-column: 1;
            grid-column-start: 1;
        -ms-grid-column-span: 3;
        grid-column-end: 4;
       
    }
    .rec5 {
        max-width: 350px;
        width: 100%;
        min-height: 413px;
        -ms-grid-row: 7;
            grid-row-start: 7;
        -ms-grid-row-span: 7;
        grid-row-end: 14;
        -ms-grid-column: 4;
            grid-column-start: 4;
        -ms-grid-column-span: 3;
        grid-column-end: 7;
    }
    .rec6 {
        max-width: 357px;
        width: 100%;
        min-height: 413px;
        -ms-grid-row: 11;
            grid-row-start: 11;
        -ms-grid-row-span: 7;
        grid-row-end: 18;
        -ms-grid-column: 7;
            grid-column-start: 7;
        -ms-grid-column-span: 3;
        grid-column-end: 10;
    }
    .rec7 {
        max-width: 357px;
        width: 100%;
        min-height: 475px;
        -ms-grid-row: 16;
            grid-row-start: 16;
        -ms-grid-row-span: 8;
        grid-row-end: 24;
        -ms-grid-column: 1;
            grid-column-start: 1;
        -ms-grid-column-span: 3;
        grid-column-end: 4;  
    }
    .rec8 {
        max-width: 356px;
        width: 100%;
        min-height: 537px;
        -ms-grid-row: 14;
            grid-row-start: 14;
        -ms-grid-row-span: 9;
        grid-row-end: 23;
        -ms-grid-column: 4;
            grid-column-start: 4;
        -ms-grid-column-span: 3;
        grid-column-end: 7;
    }
    .rec9 {
        max-width: 357px;
        width: 100%;
        min-height: 537px;
        -ms-grid-row: 18;
            grid-row-start: 18;
        -ms-grid-row-span: 9;
        grid-row-end: 27;
        -ms-grid-column: 7;
            grid-column-start: 7;
        -ms-grid-column-span: 3;
        grid-column-end: 10;
    }
    .rec10 {
        max-width: 357px;
        width: 100%;
        min-height: 537px;
        -ms-grid-row: 24;
            grid-row-start: 24;
        -ms-grid-row-span: 9;
        grid-row-end: 33;
        -ms-grid-column: 1;
            grid-column-start: 1;
        -ms-grid-column-span: 3;
        grid-column-end: 4;
    }
    .rec11 {
        max-width: 356px;
        width: 100%;
        min-height: 599px;
        -ms-grid-row: 23;
            grid-row-start: 23;
        -ms-grid-row-span: 10;
        grid-row-end: 33;
        -ms-grid-column: 4;
            grid-column-start: 4;
        -ms-grid-column-span: 3;
        grid-column-end: 7;  
    }
    .rec12 {
        max-width: 350px;
        width: 100%;
        min-height: 351px;
        -ms-grid-row: 27;
            grid-row-start: 27;
        -ms-grid-row-span: 6;
        grid-row-end: 33;
        -ms-grid-column: 7;
            grid-column-start: 7;
        -ms-grid-column-span: 3;
        grid-column-end: 10;  
    }
}


 .container > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1
}


 .container > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2
}


 .container > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 3
}


 .container > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 1
}


 .container > *:nth-child(5) {
    -ms-grid-row: 2;
    -ms-grid-column: 2
}


 .container > *:nth-child(6) {
    -ms-grid-row: 2;
    -ms-grid-column: 3
}


 .container > *:nth-child(7) {
    -ms-grid-row: 3;
    -ms-grid-column: 1
}


 .container > *:nth-child(8) {
    -ms-grid-row: 3;
    -ms-grid-column: 2
}


 .container > *:nth-child(9) {
    -ms-grid-row: 3;
    -ms-grid-column: 3
}


 .container > *:nth-child(10) {
    -ms-grid-row: 4;
    -ms-grid-column: 1
}


 .container > *:nth-child(11) {
    -ms-grid-row: 4;
    -ms-grid-column: 2
}


 .container > *:nth-child(12) {
    -ms-grid-row: 4;
    -ms-grid-column: 3
}


 .container > *:nth-child(13) {
    -ms-grid-row: 5;
    -ms-grid-column: 1
}


 .container > *:nth-child(14) {
    -ms-grid-row: 5;
    -ms-grid-column: 2
}


 .container > *:nth-child(15) {
    -ms-grid-row: 5;
    -ms-grid-column: 3
}


 .container > *:nth-child(16) {
    -ms-grid-row: 6;
    -ms-grid-column: 1
}


 .container > *:nth-child(17) {
    -ms-grid-row: 6;
    -ms-grid-column: 2
}


 .container > *:nth-child(18) {
    -ms-grid-row: 6;
    -ms-grid-column: 3
}


 .container > *:nth-child(19) {
    -ms-grid-row: 7;
    -ms-grid-column: 1
}


 .container > *:nth-child(20) {
    -ms-grid-row: 7;
    -ms-grid-column: 2
}


 .container > *:nth-child(21) {
    -ms-grid-row: 7;
    -ms-grid-column: 3
}


 .container > *:nth-child(22) {
    -ms-grid-row: 8;
    -ms-grid-column: 1
}


 .container > *:nth-child(23) {
    -ms-grid-row: 8;
    -ms-grid-column: 2
}


 .container > *:nth-child(24) {
    -ms-grid-row: 8;
    -ms-grid-column: 3
}


 .container > *:nth-child(25) {
    -ms-grid-row: 9;
    -ms-grid-column: 1
}


 .container > *:nth-child(26) {
    -ms-grid-row: 9;
    -ms-grid-column: 2
}


 .container > *:nth-child(27) {
    -ms-grid-row: 9;
    -ms-grid-column: 3
}


 .container > *:nth-child(28) {
    -ms-grid-row: 10;
    -ms-grid-column: 1
}


 .container > *:nth-child(29) {
    -ms-grid-row: 10;
    -ms-grid-column: 2
}


 .container > *:nth-child(30) {
    -ms-grid-row: 10;
    -ms-grid-column: 3
}


 .container > *:nth-child(31) {
    -ms-grid-row: 11;
    -ms-grid-column: 1
}


 .container > *:nth-child(32) {
    -ms-grid-row: 11;
    -ms-grid-column: 2
}


 .container > *:nth-child(33) {
    -ms-grid-row: 11;
    -ms-grid-column: 3
}


 .container > *:nth-child(34) {
    -ms-grid-row: 12;
    -ms-grid-column: 1
}


 .container > *:nth-child(35) {
    -ms-grid-row: 12;
    -ms-grid-column: 2
}


 .container > *:nth-child(36) {
    -ms-grid-row: 12;
    -ms-grid-column: 3
}


.text2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1079px;
    width: 100%;
    min-height: 106px;
    
    
    .text2_1 {
        min-height: 106px;
        max-width: 635px;
        width: 100%;
        font-family: 'Mulish', sans-serif;
        font-style: Bold;
        font-size: 28px;
        line-height: 38px;
        padding: 0px;
        margin-left: 20px;
    }
    .service {
        max-width: 444px;
        width: 100%;
        min-height: 106px;
        margin-left: 20px;
        padding-left: 20px;
        font-family: 'Mulish', sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: 0px;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;

    }
}

.container2 {
    display: -ms-grid;
    display: grid;
    max-width: 1110px;
    width: 100%;
    min-height: 823px;
    -ms-grid-columns: 1fr 1,2fr 2fr 0,5fr 1,2fr 2fr 0,5fr 2fr 1,2fr 2fr 0,5fr 1,2fr 2fr 0,5fr;
    grid-template-columns: 1fr 1,2fr 2fr 0,5fr 1,2fr 2fr 0,5fr 2fr 1,2fr 2fr 0,5fr 1,2fr 2fr 0,5fr;
    -ms-grid-rows: 1fr 1fr 2fr 1fr 1fr 2fr 1fr 1fr 1fr 2fr 1fr 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 2fr 1fr 1fr 2fr 1fr 1fr 1fr 2fr 1fr 1fr 2fr 1fr;
    /*width: 1110px;
    height: 823px;*/
    font-family: 'Mulish', sans-serif;
    .a {
        -ms-grid-row: 1;
            grid-row-start: 1;
        -ms-grid-row-span: 1;
        grid-row-end: 2;
        -ms-grid-column: 1;
            grid-column-start: 1;
        -ms-grid-column-span: 1;
        grid-column-end: 2;

    }
    .b {
        -ms-grid-row: 1;
            grid-row-start: 1;
        -ms-grid-row-span: 1;
        grid-row-end: 2;
        -ms-grid-column: 5;
            grid-column-start: 5;
        -ms-grid-column-span: 2;
        grid-column-end: 7;
    }
    .c {
        -ms-grid-row: 1;
            grid-row-start: 1;
        -ms-grid-row-span: 2;
        grid-row-end: 3;
        -ms-grid-column: 6;
            grid-column-start: 6;
        -ms-grid-column-span: 3;
        grid-column-end: 9;
    }
    .d {
        -ms-grid-row: 1;
            grid-row-start: 1;
        -ms-grid-row-span: 1;
        grid-row-end: 2;
        -ms-grid-column: 10;
            grid-column-start: 10;
        -ms-grid-column-span: 1;
        grid-column-end: 11;
    }
    .a- {
        -ms-grid-row: 3;
            grid-row-start: 3;
        -ms-grid-row-span: 1;
        grid-row-end: 4;
        -ms-grid-column: 5;
            grid-column-start: 5;
        -ms-grid-column-span: 2;
        grid-column-end: 7;
    }
    .b- {
        -ms-grid-row: 3;
            grid-row-start: 3;
        -ms-grid-row-span: 1;
        grid-row-end: 4;
        -ms-grid-column: 7;
            grid-column-start: 7;
        -ms-grid-column-span: 3;
        grid-column-end: 10;
    }
    .c- {
        -ms-grid-row: 3;
            grid-row-start: 3;
        -ms-grid-row-span: 1;
        grid-row-end: 4;
        -ms-grid-column: 10;
            grid-column-start: 10;
        -ms-grid-column-span: 1;
        grid-column-end: 11;
    }
    .HorizontalLine {
        /*color: 979797;
        grid-row-start: 4,5;
        grid-row-end: 4,5;
        grid-column-start: 1;
        grid-column-end: 11;*/
    }
    .a-- {
        -ms-grid-row: 5;
            grid-row-start: 5;
        -ms-grid-row-span: 1;
        grid-row-end: 6;
        -ms-grid-column: 1;
            grid-column-start: 1;
        -ms-grid-column-span: 2;
        grid-column-end: 3;
    }
    .b-- {
        -ms-grid-row: 5;
            grid-row-start: 5;
        -ms-grid-row-span: 1;
        grid-row-end: 6;
        -ms-grid-column: 5;
            grid-column-start: 5;
        -ms-grid-column-span: 2;
        grid-column-end: 7;
    }
    .c-- {
        -ms-grid-row: 5;
            grid-row-start: 5;
        -ms-grid-row-span: 1;
        grid-row-end: 6;
        -ms-grid-column: 7;
            grid-column-start: 7;
        -ms-grid-column-span: 3;
        grid-column-end: 10;
    }
    .d-- {
        -ms-grid-row: 5;
            grid-row-start: 5;
        -ms-grid-row-span: 1;
        grid-row-end: 6;
        -ms-grid-column: 10;
            grid-column-start: 10;
        -ms-grid-column-span: 1;
        grid-column-end: 11;
    }
    .a--- {
        -ms-grid-row: 6;
            grid-row-start: 6;
        -ms-grid-row-span: 1;
        grid-row-end: 7;
        -ms-grid-column: 5;
            grid-column-start: 5;
        -ms-grid-column-span: 2;
        grid-column-end: 7;
    }
    .b--- {
        -ms-grid-row: 6;
            grid-row-start: 6;
        -ms-grid-row-span: 2;
        grid-row-end: 8;
        -ms-grid-column: 7;
            grid-column-start: 7;
        -ms-grid-column-span: 3;
        grid-column-end: 10;
    }
    .c--- {
        -ms-grid-row: 6;
            grid-row-start: 6;
        -ms-grid-row-span: 1;
        grid-row-end: 7;
        -ms-grid-column: 10;
            grid-column-start: 10;
        -ms-grid-column-span: 1;
        grid-column-end: 11;
    }
    
    
}

.container2 > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1
    
    
}

.container2 > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2
    
    
}

.container2 > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 3
    
    
}

.container2 > *:nth-child(4) {
    -ms-grid-row: 1;
    -ms-grid-column: 4
    
    
}

.container2 > *:nth-child(5) {
    -ms-grid-row: 1;
    -ms-grid-column: 5
    
    
}

.container2 > *:nth-child(6) {
    -ms-grid-row: 1;
    -ms-grid-column: 6
    
    
}

.container2 > *:nth-child(7) {
    -ms-grid-row: 1;
    -ms-grid-column: 7
    
    
}

.container2 > *:nth-child(8) {
    -ms-grid-row: 1;
    -ms-grid-column: 8
    
    
}

.container2 > *:nth-child(9) {
    -ms-grid-row: 1;
    -ms-grid-column: 9
    
    
}

.container2 > *:nth-child(10) {
    -ms-grid-row: 1;
    -ms-grid-column: 10
    
    
}

.container2 > *:nth-child(11) {
    -ms-grid-row: 1;
    -ms-grid-column: 11
    
    
}

.container2 > *:nth-child(12) {
    -ms-grid-row: 1;
    -ms-grid-column: 12
    
    
}

.container2 > *:nth-child(13) {
    -ms-grid-row: 1;
    -ms-grid-column: 13
    
    
}

.container2 > *:nth-child(14) {
    -ms-grid-row: 1;
    -ms-grid-column: 14
    
    
}

.container2 > *:nth-child(15) {
    -ms-grid-row: 1;
    -ms-grid-column: 15
    
    
}

.container2 > *:nth-child(16) {
    -ms-grid-row: 1;
    -ms-grid-column: 16
    
    
}

.container2 > *:nth-child(17) {
    -ms-grid-row: 1;
    -ms-grid-column: 17
    
    
}

.container2 > *:nth-child(18) {
    -ms-grid-row: 1;
    -ms-grid-column: 18
    
    
}

.container2 > *:nth-child(19) {
    -ms-grid-row: 1;
    -ms-grid-column: 19
    
    
}

.container2 > *:nth-child(20) {
    -ms-grid-row: 1;
    -ms-grid-column: 20
    
    
}

.container2 > *:nth-child(21) {
    -ms-grid-row: 1;
    -ms-grid-column: 21
    
    
}

.container2 > *:nth-child(22) {
    -ms-grid-row: 1;
    -ms-grid-column: 22
    
    
}

.container2 > *:nth-child(23) {
    -ms-grid-row: 1;
    -ms-grid-column: 23
    
    
}

.container2 > *:nth-child(24) {
    -ms-grid-row: 1;
    -ms-grid-column: 24
    
    
}

.container2 > *:nth-child(25) {
    -ms-grid-row: 1;
    -ms-grid-column: 25
    
    
}

.container2 > *:nth-child(26) {
    -ms-grid-row: 1;
    -ms-grid-column: 26
    
    
}

.container2 > *:nth-child(27) {
    -ms-grid-row: 1;
    -ms-grid-column: 27
    
    
}

.container2 > *:nth-child(28) {
    -ms-grid-row: 1;
    -ms-grid-column: 28
    
    
}

.container2 > *:nth-child(29) {
    -ms-grid-row: 1;
    -ms-grid-column: 29
    
    
}

.container2 > *:nth-child(30) {
    -ms-grid-row: 1;
    -ms-grid-column: 30
    
    
}

.container2 > *:nth-child(31) {
    -ms-grid-row: 2;
    -ms-grid-column: 1
    
    
}

.container2 > *:nth-child(32) {
    -ms-grid-row: 2;
    -ms-grid-column: 2
    
    
}

.container2 > *:nth-child(33) {
    -ms-grid-row: 2;
    -ms-grid-column: 3
    
    
}

.container2 > *:nth-child(34) {
    -ms-grid-row: 2;
    -ms-grid-column: 4
    
    
}

.container2 > *:nth-child(35) {
    -ms-grid-row: 2;
    -ms-grid-column: 5
    
    
}

.container2 > *:nth-child(36) {
    -ms-grid-row: 2;
    -ms-grid-column: 6
    
    
}

.container2 > *:nth-child(37) {
    -ms-grid-row: 2;
    -ms-grid-column: 7
    
    
}

.container2 > *:nth-child(38) {
    -ms-grid-row: 2;
    -ms-grid-column: 8
    
    
}

.container2 > *:nth-child(39) {
    -ms-grid-row: 2;
    -ms-grid-column: 9
    
    
}

.container2 > *:nth-child(40) {
    -ms-grid-row: 2;
    -ms-grid-column: 10
    
    
}

.container2 > *:nth-child(41) {
    -ms-grid-row: 2;
    -ms-grid-column: 11
    
    
}

.container2 > *:nth-child(42) {
    -ms-grid-row: 2;
    -ms-grid-column: 12
    
    
}

.container2 > *:nth-child(43) {
    -ms-grid-row: 2;
    -ms-grid-column: 13
    
    
}

.container2 > *:nth-child(44) {
    -ms-grid-row: 2;
    -ms-grid-column: 14
    
    
}

.container2 > *:nth-child(45) {
    -ms-grid-row: 2;
    -ms-grid-column: 15
    
    
}

.container2 > *:nth-child(46) {
    -ms-grid-row: 2;
    -ms-grid-column: 16
    
    
}

.container2 > *:nth-child(47) {
    -ms-grid-row: 2;
    -ms-grid-column: 17
    
    
}

.container2 > *:nth-child(48) {
    -ms-grid-row: 2;
    -ms-grid-column: 18
    
    
}

.container2 > *:nth-child(49) {
    -ms-grid-row: 2;
    -ms-grid-column: 19
    
    
}

.container2 > *:nth-child(50) {
    -ms-grid-row: 2;
    -ms-grid-column: 20
    
    
}

.container2 > *:nth-child(51) {
    -ms-grid-row: 2;
    -ms-grid-column: 21
    
    
}

.container2 > *:nth-child(52) {
    -ms-grid-row: 2;
    -ms-grid-column: 22
    
    
}

.container2 > *:nth-child(53) {
    -ms-grid-row: 2;
    -ms-grid-column: 23
    
    
}

.container2 > *:nth-child(54) {
    -ms-grid-row: 2;
    -ms-grid-column: 24
    
    
}

.container2 > *:nth-child(55) {
    -ms-grid-row: 2;
    -ms-grid-column: 25
    
    
}

.container2 > *:nth-child(56) {
    -ms-grid-row: 2;
    -ms-grid-column: 26
    
    
}

.container2 > *:nth-child(57) {
    -ms-grid-row: 2;
    -ms-grid-column: 27
    
    
}

.container2 > *:nth-child(58) {
    -ms-grid-row: 2;
    -ms-grid-column: 28
    
    
}

.container2 > *:nth-child(59) {
    -ms-grid-row: 2;
    -ms-grid-column: 29
    
    
}

.container2 > *:nth-child(60) {
    -ms-grid-row: 2;
    -ms-grid-column: 30
    
    
}

.container2 > *:nth-child(61) {
    -ms-grid-row: 3;
    -ms-grid-column: 1
    
    
}

.container2 > *:nth-child(62) {
    -ms-grid-row: 3;
    -ms-grid-column: 2
    
    
}

.container2 > *:nth-child(63) {
    -ms-grid-row: 3;
    -ms-grid-column: 3
    
    
}

.container2 > *:nth-child(64) {
    -ms-grid-row: 3;
    -ms-grid-column: 4
    
    
}

.container2 > *:nth-child(65) {
    -ms-grid-row: 3;
    -ms-grid-column: 5
    
    
}

.container2 > *:nth-child(66) {
    -ms-grid-row: 3;
    -ms-grid-column: 6
    
    
}

.container2 > *:nth-child(67) {
    -ms-grid-row: 3;
    -ms-grid-column: 7
    
    
}

.container2 > *:nth-child(68) {
    -ms-grid-row: 3;
    -ms-grid-column: 8
    
    
}

.container2 > *:nth-child(69) {
    -ms-grid-row: 3;
    -ms-grid-column: 9
    
    
}

.container2 > *:nth-child(70) {
    -ms-grid-row: 3;
    -ms-grid-column: 10
    
    
}

.container2 > *:nth-child(71) {
    -ms-grid-row: 3;
    -ms-grid-column: 11
    
    
}

.container2 > *:nth-child(72) {
    -ms-grid-row: 3;
    -ms-grid-column: 12
    
    
}

.container2 > *:nth-child(73) {
    -ms-grid-row: 3;
    -ms-grid-column: 13
    
    
}

.container2 > *:nth-child(74) {
    -ms-grid-row: 3;
    -ms-grid-column: 14
    
    
}

.container2 > *:nth-child(75) {
    -ms-grid-row: 3;
    -ms-grid-column: 15
    
    
}

.container2 > *:nth-child(76) {
    -ms-grid-row: 3;
    -ms-grid-column: 16
    
    
}

.container2 > *:nth-child(77) {
    -ms-grid-row: 3;
    -ms-grid-column: 17
    
    
}

.container2 > *:nth-child(78) {
    -ms-grid-row: 3;
    -ms-grid-column: 18
    
    
}

.container2 > *:nth-child(79) {
    -ms-grid-row: 3;
    -ms-grid-column: 19
    
    
}

.container2 > *:nth-child(80) {
    -ms-grid-row: 3;
    -ms-grid-column: 20
    
    
}

.container2 > *:nth-child(81) {
    -ms-grid-row: 3;
    -ms-grid-column: 21
    
    
}

.container2 > *:nth-child(82) {
    -ms-grid-row: 3;
    -ms-grid-column: 22
    
    
}

.container2 > *:nth-child(83) {
    -ms-grid-row: 3;
    -ms-grid-column: 23
    
    
}

.container2 > *:nth-child(84) {
    -ms-grid-row: 3;
    -ms-grid-column: 24
    
    
}

.container2 > *:nth-child(85) {
    -ms-grid-row: 3;
    -ms-grid-column: 25
    
    
}

.container2 > *:nth-child(86) {
    -ms-grid-row: 3;
    -ms-grid-column: 26
    
    
}

.container2 > *:nth-child(87) {
    -ms-grid-row: 3;
    -ms-grid-column: 27
    
    
}

.container2 > *:nth-child(88) {
    -ms-grid-row: 3;
    -ms-grid-column: 28
    
    
}

.container2 > *:nth-child(89) {
    -ms-grid-row: 3;
    -ms-grid-column: 29
    
    
}

.container2 > *:nth-child(90) {
    -ms-grid-row: 3;
    -ms-grid-column: 30
    
    
}

.container2 > *:nth-child(91) {
    -ms-grid-row: 4;
    -ms-grid-column: 1
    
    
}

.container2 > *:nth-child(92) {
    -ms-grid-row: 4;
    -ms-grid-column: 2
    
    
}

.container2 > *:nth-child(93) {
    -ms-grid-row: 4;
    -ms-grid-column: 3
    
    
}

.container2 > *:nth-child(94) {
    -ms-grid-row: 4;
    -ms-grid-column: 4
    
    
}

.container2 > *:nth-child(95) {
    -ms-grid-row: 4;
    -ms-grid-column: 5
    
    
}

.container2 > *:nth-child(96) {
    -ms-grid-row: 4;
    -ms-grid-column: 6
    
    
}

.container2 > *:nth-child(97) {
    -ms-grid-row: 4;
    -ms-grid-column: 7
    
    
}

.container2 > *:nth-child(98) {
    -ms-grid-row: 4;
    -ms-grid-column: 8
    
    
}

.container2 > *:nth-child(99) {
    -ms-grid-row: 4;
    -ms-grid-column: 9
    
    
}

.container2 > *:nth-child(100) {
    -ms-grid-row: 4;
    -ms-grid-column: 10
    
    
}

.container2 > *:nth-child(101) {
    -ms-grid-row: 4;
    -ms-grid-column: 11
    
    
}

.container2 > *:nth-child(102) {
    -ms-grid-row: 4;
    -ms-grid-column: 12
    
    
}

.container2 > *:nth-child(103) {
    -ms-grid-row: 4;
    -ms-grid-column: 13
    
    
}

.container2 > *:nth-child(104) {
    -ms-grid-row: 4;
    -ms-grid-column: 14
    
    
}

.container2 > *:nth-child(105) {
    -ms-grid-row: 4;
    -ms-grid-column: 15
    
    
}

.container2 > *:nth-child(106) {
    -ms-grid-row: 4;
    -ms-grid-column: 16
    
    
}

.container2 > *:nth-child(107) {
    -ms-grid-row: 4;
    -ms-grid-column: 17
    
    
}

.container2 > *:nth-child(108) {
    -ms-grid-row: 4;
    -ms-grid-column: 18
    
    
}

.container2 > *:nth-child(109) {
    -ms-grid-row: 4;
    -ms-grid-column: 19
    
    
}

.container2 > *:nth-child(110) {
    -ms-grid-row: 4;
    -ms-grid-column: 20
    
    
}

.container2 > *:nth-child(111) {
    -ms-grid-row: 4;
    -ms-grid-column: 21
    
    
}

.container2 > *:nth-child(112) {
    -ms-grid-row: 4;
    -ms-grid-column: 22
    
    
}

.container2 > *:nth-child(113) {
    -ms-grid-row: 4;
    -ms-grid-column: 23
    
    
}

.container2 > *:nth-child(114) {
    -ms-grid-row: 4;
    -ms-grid-column: 24
    
    
}

.container2 > *:nth-child(115) {
    -ms-grid-row: 4;
    -ms-grid-column: 25
    
    
}

.container2 > *:nth-child(116) {
    -ms-grid-row: 4;
    -ms-grid-column: 26
    
    
}

.container2 > *:nth-child(117) {
    -ms-grid-row: 4;
    -ms-grid-column: 27
    
    
}

.container2 > *:nth-child(118) {
    -ms-grid-row: 4;
    -ms-grid-column: 28
    
    
}

.container2 > *:nth-child(119) {
    -ms-grid-row: 4;
    -ms-grid-column: 29
    
    
}

.container2 > *:nth-child(120) {
    -ms-grid-row: 4;
    -ms-grid-column: 30
    
    
}

.container2 > *:nth-child(121) {
    -ms-grid-row: 5;
    -ms-grid-column: 1
    
    
}

.container2 > *:nth-child(122) {
    -ms-grid-row: 5;
    -ms-grid-column: 2
    
    
}

.container2 > *:nth-child(123) {
    -ms-grid-row: 5;
    -ms-grid-column: 3
    
    
}

.container2 > *:nth-child(124) {
    -ms-grid-row: 5;
    -ms-grid-column: 4
    
    
}

.container2 > *:nth-child(125) {
    -ms-grid-row: 5;
    -ms-grid-column: 5
    
    
}

.container2 > *:nth-child(126) {
    -ms-grid-row: 5;
    -ms-grid-column: 6
    
    
}

.container2 > *:nth-child(127) {
    -ms-grid-row: 5;
    -ms-grid-column: 7
    
    
}

.container2 > *:nth-child(128) {
    -ms-grid-row: 5;
    -ms-grid-column: 8
    
    
}

.container2 > *:nth-child(129) {
    -ms-grid-row: 5;
    -ms-grid-column: 9
    
    
}

.container2 > *:nth-child(130) {
    -ms-grid-row: 5;
    -ms-grid-column: 10
    
    
}

.container2 > *:nth-child(131) {
    -ms-grid-row: 5;
    -ms-grid-column: 11
    
    
}

.container2 > *:nth-child(132) {
    -ms-grid-row: 5;
    -ms-grid-column: 12
    
    
}

.container2 > *:nth-child(133) {
    -ms-grid-row: 5;
    -ms-grid-column: 13
    
    
}

.container2 > *:nth-child(134) {
    -ms-grid-row: 5;
    -ms-grid-column: 14
    
    
}

.container2 > *:nth-child(135) {
    -ms-grid-row: 5;
    -ms-grid-column: 15
    
    
}

.container2 > *:nth-child(136) {
    -ms-grid-row: 5;
    -ms-grid-column: 16
    
    
}

.container2 > *:nth-child(137) {
    -ms-grid-row: 5;
    -ms-grid-column: 17
    
    
}

.container2 > *:nth-child(138) {
    -ms-grid-row: 5;
    -ms-grid-column: 18
    
    
}

.container2 > *:nth-child(139) {
    -ms-grid-row: 5;
    -ms-grid-column: 19
    
    
}

.container2 > *:nth-child(140) {
    -ms-grid-row: 5;
    -ms-grid-column: 20
    
    
}

.container2 > *:nth-child(141) {
    -ms-grid-row: 5;
    -ms-grid-column: 21
    
    
}

.container2 > *:nth-child(142) {
    -ms-grid-row: 5;
    -ms-grid-column: 22
    
    
}

.container2 > *:nth-child(143) {
    -ms-grid-row: 5;
    -ms-grid-column: 23
    
    
}

.container2 > *:nth-child(144) {
    -ms-grid-row: 5;
    -ms-grid-column: 24
    
    
}

.container2 > *:nth-child(145) {
    -ms-grid-row: 5;
    -ms-grid-column: 25
    
    
}

.container2 > *:nth-child(146) {
    -ms-grid-row: 5;
    -ms-grid-column: 26
    
    
}

.container2 > *:nth-child(147) {
    -ms-grid-row: 5;
    -ms-grid-column: 27
    
    
}

.container2 > *:nth-child(148) {
    -ms-grid-row: 5;
    -ms-grid-column: 28
    
    
}

.container2 > *:nth-child(149) {
    -ms-grid-row: 5;
    -ms-grid-column: 29
    
    
}

.container2 > *:nth-child(150) {
    -ms-grid-row: 5;
    -ms-grid-column: 30
    
    
}

.container2 > *:nth-child(151) {
    -ms-grid-row: 6;
    -ms-grid-column: 1
    
    
}

.container2 > *:nth-child(152) {
    -ms-grid-row: 6;
    -ms-grid-column: 2
    
    
}

.container2 > *:nth-child(153) {
    -ms-grid-row: 6;
    -ms-grid-column: 3
    
    
}

.container2 > *:nth-child(154) {
    -ms-grid-row: 6;
    -ms-grid-column: 4
    
    
}

.container2 > *:nth-child(155) {
    -ms-grid-row: 6;
    -ms-grid-column: 5
    
    
}

.container2 > *:nth-child(156) {
    -ms-grid-row: 6;
    -ms-grid-column: 6
    
    
}

.container2 > *:nth-child(157) {
    -ms-grid-row: 6;
    -ms-grid-column: 7
    
    
}

.container2 > *:nth-child(158) {
    -ms-grid-row: 6;
    -ms-grid-column: 8
    
    
}

.container2 > *:nth-child(159) {
    -ms-grid-row: 6;
    -ms-grid-column: 9
    
    
}

.container2 > *:nth-child(160) {
    -ms-grid-row: 6;
    -ms-grid-column: 10
    
    
}

.container2 > *:nth-child(161) {
    -ms-grid-row: 6;
    -ms-grid-column: 11
    
    
}

.container2 > *:nth-child(162) {
    -ms-grid-row: 6;
    -ms-grid-column: 12
    
    
}

.container2 > *:nth-child(163) {
    -ms-grid-row: 6;
    -ms-grid-column: 13
    
    
}

.container2 > *:nth-child(164) {
    -ms-grid-row: 6;
    -ms-grid-column: 14
    
    
}

.container2 > *:nth-child(165) {
    -ms-grid-row: 6;
    -ms-grid-column: 15
    
    
}

.container2 > *:nth-child(166) {
    -ms-grid-row: 6;
    -ms-grid-column: 16
    
    
}

.container2 > *:nth-child(167) {
    -ms-grid-row: 6;
    -ms-grid-column: 17
    
    
}

.container2 > *:nth-child(168) {
    -ms-grid-row: 6;
    -ms-grid-column: 18
    
    
}

.container2 > *:nth-child(169) {
    -ms-grid-row: 6;
    -ms-grid-column: 19
    
    
}

.container2 > *:nth-child(170) {
    -ms-grid-row: 6;
    -ms-grid-column: 20
    
    
}

.container2 > *:nth-child(171) {
    -ms-grid-row: 6;
    -ms-grid-column: 21
    
    
}

.container2 > *:nth-child(172) {
    -ms-grid-row: 6;
    -ms-grid-column: 22
    
    
}

.container2 > *:nth-child(173) {
    -ms-grid-row: 6;
    -ms-grid-column: 23
    
    
}

.container2 > *:nth-child(174) {
    -ms-grid-row: 6;
    -ms-grid-column: 24
    
    
}

.container2 > *:nth-child(175) {
    -ms-grid-row: 6;
    -ms-grid-column: 25
    
    
}

.container2 > *:nth-child(176) {
    -ms-grid-row: 6;
    -ms-grid-column: 26
    
    
}

.container2 > *:nth-child(177) {
    -ms-grid-row: 6;
    -ms-grid-column: 27
    
    
}

.container2 > *:nth-child(178) {
    -ms-grid-row: 6;
    -ms-grid-column: 28
    
    
}

.container2 > *:nth-child(179) {
    -ms-grid-row: 6;
    -ms-grid-column: 29
    
    
}

.container2 > *:nth-child(180) {
    -ms-grid-row: 6;
    -ms-grid-column: 30
    
    
}

.container2 > *:nth-child(181) {
    -ms-grid-row: 7;
    -ms-grid-column: 1
    
    
}

.container2 > *:nth-child(182) {
    -ms-grid-row: 7;
    -ms-grid-column: 2
    
    
}

.container2 > *:nth-child(183) {
    -ms-grid-row: 7;
    -ms-grid-column: 3
    
    
}

.container2 > *:nth-child(184) {
    -ms-grid-row: 7;
    -ms-grid-column: 4
    
    
}

.container2 > *:nth-child(185) {
    -ms-grid-row: 7;
    -ms-grid-column: 5
    
    
}

.container2 > *:nth-child(186) {
    -ms-grid-row: 7;
    -ms-grid-column: 6
    
    
}

.container2 > *:nth-child(187) {
    -ms-grid-row: 7;
    -ms-grid-column: 7
    
    
}

.container2 > *:nth-child(188) {
    -ms-grid-row: 7;
    -ms-grid-column: 8
    
    
}

.container2 > *:nth-child(189) {
    -ms-grid-row: 7;
    -ms-grid-column: 9
    
    
}

.container2 > *:nth-child(190) {
    -ms-grid-row: 7;
    -ms-grid-column: 10
    
    
}

.container2 > *:nth-child(191) {
    -ms-grid-row: 7;
    -ms-grid-column: 11
    
    
}

.container2 > *:nth-child(192) {
    -ms-grid-row: 7;
    -ms-grid-column: 12
    
    
}

.container2 > *:nth-child(193) {
    -ms-grid-row: 7;
    -ms-grid-column: 13
    
    
}

.container2 > *:nth-child(194) {
    -ms-grid-row: 7;
    -ms-grid-column: 14
    
    
}

.container2 > *:nth-child(195) {
    -ms-grid-row: 7;
    -ms-grid-column: 15
    
    
}

.container2 > *:nth-child(196) {
    -ms-grid-row: 7;
    -ms-grid-column: 16
    
    
}

.container2 > *:nth-child(197) {
    -ms-grid-row: 7;
    -ms-grid-column: 17
    
    
}

.container2 > *:nth-child(198) {
    -ms-grid-row: 7;
    -ms-grid-column: 18
    
    
}

.container2 > *:nth-child(199) {
    -ms-grid-row: 7;
    -ms-grid-column: 19
    
    
}

.container2 > *:nth-child(200) {
    -ms-grid-row: 7;
    -ms-grid-column: 20
    
    
}

.container2 > *:nth-child(201) {
    -ms-grid-row: 7;
    -ms-grid-column: 21
    
    
}

.container2 > *:nth-child(202) {
    -ms-grid-row: 7;
    -ms-grid-column: 22
    
    
}

.container2 > *:nth-child(203) {
    -ms-grid-row: 7;
    -ms-grid-column: 23
    
    
}

.container2 > *:nth-child(204) {
    -ms-grid-row: 7;
    -ms-grid-column: 24
    
    
}

.container2 > *:nth-child(205) {
    -ms-grid-row: 7;
    -ms-grid-column: 25
    
    
}

.container2 > *:nth-child(206) {
    -ms-grid-row: 7;
    -ms-grid-column: 26
    
    
}

.container2 > *:nth-child(207) {
    -ms-grid-row: 7;
    -ms-grid-column: 27
    
    
}

.container2 > *:nth-child(208) {
    -ms-grid-row: 7;
    -ms-grid-column: 28
    
    
}

.container2 > *:nth-child(209) {
    -ms-grid-row: 7;
    -ms-grid-column: 29
    
    
}

.container2 > *:nth-child(210) {
    -ms-grid-row: 7;
    -ms-grid-column: 30
    
    
}

.container2 > *:nth-child(211) {
    -ms-grid-row: 8;
    -ms-grid-column: 1
    
    
}

.container2 > *:nth-child(212) {
    -ms-grid-row: 8;
    -ms-grid-column: 2
    
    
}

.container2 > *:nth-child(213) {
    -ms-grid-row: 8;
    -ms-grid-column: 3
    
    
}

.container2 > *:nth-child(214) {
    -ms-grid-row: 8;
    -ms-grid-column: 4
    
    
}

.container2 > *:nth-child(215) {
    -ms-grid-row: 8;
    -ms-grid-column: 5
    
    
}

.container2 > *:nth-child(216) {
    -ms-grid-row: 8;
    -ms-grid-column: 6
    
    
}

.container2 > *:nth-child(217) {
    -ms-grid-row: 8;
    -ms-grid-column: 7
    
    
}

.container2 > *:nth-child(218) {
    -ms-grid-row: 8;
    -ms-grid-column: 8
    
    
}

.container2 > *:nth-child(219) {
    -ms-grid-row: 8;
    -ms-grid-column: 9
    
    
}

.container2 > *:nth-child(220) {
    -ms-grid-row: 8;
    -ms-grid-column: 10
    
    
}

.container2 > *:nth-child(221) {
    -ms-grid-row: 8;
    -ms-grid-column: 11
    
    
}

.container2 > *:nth-child(222) {
    -ms-grid-row: 8;
    -ms-grid-column: 12
    
    
}

.container2 > *:nth-child(223) {
    -ms-grid-row: 8;
    -ms-grid-column: 13
    
    
}

.container2 > *:nth-child(224) {
    -ms-grid-row: 8;
    -ms-grid-column: 14
    
    
}

.container2 > *:nth-child(225) {
    -ms-grid-row: 8;
    -ms-grid-column: 15
    
    
}

.container2 > *:nth-child(226) {
    -ms-grid-row: 8;
    -ms-grid-column: 16
    
    
}

.container2 > *:nth-child(227) {
    -ms-grid-row: 8;
    -ms-grid-column: 17
    
    
}

.container2 > *:nth-child(228) {
    -ms-grid-row: 8;
    -ms-grid-column: 18
    
    
}

.container2 > *:nth-child(229) {
    -ms-grid-row: 8;
    -ms-grid-column: 19
    
    
}

.container2 > *:nth-child(230) {
    -ms-grid-row: 8;
    -ms-grid-column: 20
    
    
}

.container2 > *:nth-child(231) {
    -ms-grid-row: 8;
    -ms-grid-column: 21
    
    
}

.container2 > *:nth-child(232) {
    -ms-grid-row: 8;
    -ms-grid-column: 22
    
    
}

.container2 > *:nth-child(233) {
    -ms-grid-row: 8;
    -ms-grid-column: 23
    
    
}

.container2 > *:nth-child(234) {
    -ms-grid-row: 8;
    -ms-grid-column: 24
    
    
}

.container2 > *:nth-child(235) {
    -ms-grid-row: 8;
    -ms-grid-column: 25
    
    
}

.container2 > *:nth-child(236) {
    -ms-grid-row: 8;
    -ms-grid-column: 26
    
    
}

.container2 > *:nth-child(237) {
    -ms-grid-row: 8;
    -ms-grid-column: 27
    
    
}

.container2 > *:nth-child(238) {
    -ms-grid-row: 8;
    -ms-grid-column: 28
    
    
}

.container2 > *:nth-child(239) {
    -ms-grid-row: 8;
    -ms-grid-column: 29
    
    
}

.container2 > *:nth-child(240) {
    -ms-grid-row: 8;
    -ms-grid-column: 30
    
    
}

.container2 > *:nth-child(241) {
    -ms-grid-row: 9;
    -ms-grid-column: 1
    
    
}

.container2 > *:nth-child(242) {
    -ms-grid-row: 9;
    -ms-grid-column: 2
    
    
}

.container2 > *:nth-child(243) {
    -ms-grid-row: 9;
    -ms-grid-column: 3
    
    
}

.container2 > *:nth-child(244) {
    -ms-grid-row: 9;
    -ms-grid-column: 4
    
    
}

.container2 > *:nth-child(245) {
    -ms-grid-row: 9;
    -ms-grid-column: 5
    
    
}

.container2 > *:nth-child(246) {
    -ms-grid-row: 9;
    -ms-grid-column: 6
    
    
}

.container2 > *:nth-child(247) {
    -ms-grid-row: 9;
    -ms-grid-column: 7
    
    
}

.container2 > *:nth-child(248) {
    -ms-grid-row: 9;
    -ms-grid-column: 8
    
    
}

.container2 > *:nth-child(249) {
    -ms-grid-row: 9;
    -ms-grid-column: 9
    
    
}

.container2 > *:nth-child(250) {
    -ms-grid-row: 9;
    -ms-grid-column: 10
    
    
}

.container2 > *:nth-child(251) {
    -ms-grid-row: 9;
    -ms-grid-column: 11
    
    
}

.container2 > *:nth-child(252) {
    -ms-grid-row: 9;
    -ms-grid-column: 12
    
    
}

.container2 > *:nth-child(253) {
    -ms-grid-row: 9;
    -ms-grid-column: 13
    
    
}

.container2 > *:nth-child(254) {
    -ms-grid-row: 9;
    -ms-grid-column: 14
    
    
}

.container2 > *:nth-child(255) {
    -ms-grid-row: 9;
    -ms-grid-column: 15
    
    
}

.container2 > *:nth-child(256) {
    -ms-grid-row: 9;
    -ms-grid-column: 16
    
    
}

.container2 > *:nth-child(257) {
    -ms-grid-row: 9;
    -ms-grid-column: 17
    
    
}

.container2 > *:nth-child(258) {
    -ms-grid-row: 9;
    -ms-grid-column: 18
    
    
}

.container2 > *:nth-child(259) {
    -ms-grid-row: 9;
    -ms-grid-column: 19
    
    
}

.container2 > *:nth-child(260) {
    -ms-grid-row: 9;
    -ms-grid-column: 20
    
    
}

.container2 > *:nth-child(261) {
    -ms-grid-row: 9;
    -ms-grid-column: 21
    
    
}

.container2 > *:nth-child(262) {
    -ms-grid-row: 9;
    -ms-grid-column: 22
    
    
}

.container2 > *:nth-child(263) {
    -ms-grid-row: 9;
    -ms-grid-column: 23
    
    
}

.container2 > *:nth-child(264) {
    -ms-grid-row: 9;
    -ms-grid-column: 24
    
    
}

.container2 > *:nth-child(265) {
    -ms-grid-row: 9;
    -ms-grid-column: 25
    
    
}

.container2 > *:nth-child(266) {
    -ms-grid-row: 9;
    -ms-grid-column: 26
    
    
}

.container2 > *:nth-child(267) {
    -ms-grid-row: 9;
    -ms-grid-column: 27
    
    
}

.container2 > *:nth-child(268) {
    -ms-grid-row: 9;
    -ms-grid-column: 28
    
    
}

.container2 > *:nth-child(269) {
    -ms-grid-row: 9;
    -ms-grid-column: 29
    
    
}

.container2 > *:nth-child(270) {
    -ms-grid-row: 9;
    -ms-grid-column: 30
    
    
}

.container2 > *:nth-child(271) {
    -ms-grid-row: 10;
    -ms-grid-column: 1
    
    
}

.container2 > *:nth-child(272) {
    -ms-grid-row: 10;
    -ms-grid-column: 2
    
    
}

.container2 > *:nth-child(273) {
    -ms-grid-row: 10;
    -ms-grid-column: 3
    
    
}

.container2 > *:nth-child(274) {
    -ms-grid-row: 10;
    -ms-grid-column: 4
    
    
}

.container2 > *:nth-child(275) {
    -ms-grid-row: 10;
    -ms-grid-column: 5
    
    
}

.container2 > *:nth-child(276) {
    -ms-grid-row: 10;
    -ms-grid-column: 6
    
    
}

.container2 > *:nth-child(277) {
    -ms-grid-row: 10;
    -ms-grid-column: 7
    
    
}

.container2 > *:nth-child(278) {
    -ms-grid-row: 10;
    -ms-grid-column: 8
    
    
}

.container2 > *:nth-child(279) {
    -ms-grid-row: 10;
    -ms-grid-column: 9
    
    
}

.container2 > *:nth-child(280) {
    -ms-grid-row: 10;
    -ms-grid-column: 10
    
    
}

.container2 > *:nth-child(281) {
    -ms-grid-row: 10;
    -ms-grid-column: 11
    
    
}

.container2 > *:nth-child(282) {
    -ms-grid-row: 10;
    -ms-grid-column: 12
    
    
}

.container2 > *:nth-child(283) {
    -ms-grid-row: 10;
    -ms-grid-column: 13
    
    
}

.container2 > *:nth-child(284) {
    -ms-grid-row: 10;
    -ms-grid-column: 14
    
    
}

.container2 > *:nth-child(285) {
    -ms-grid-row: 10;
    -ms-grid-column: 15
    
    
}

.container2 > *:nth-child(286) {
    -ms-grid-row: 10;
    -ms-grid-column: 16
    
    
}

.container2 > *:nth-child(287) {
    -ms-grid-row: 10;
    -ms-grid-column: 17
    
    
}

.container2 > *:nth-child(288) {
    -ms-grid-row: 10;
    -ms-grid-column: 18
    
    
}

.container2 > *:nth-child(289) {
    -ms-grid-row: 10;
    -ms-grid-column: 19
    
    
}

.container2 > *:nth-child(290) {
    -ms-grid-row: 10;
    -ms-grid-column: 20
    
    
}

.container2 > *:nth-child(291) {
    -ms-grid-row: 10;
    -ms-grid-column: 21
    
    
}

.container2 > *:nth-child(292) {
    -ms-grid-row: 10;
    -ms-grid-column: 22
    
    
}

.container2 > *:nth-child(293) {
    -ms-grid-row: 10;
    -ms-grid-column: 23
    
    
}

.container2 > *:nth-child(294) {
    -ms-grid-row: 10;
    -ms-grid-column: 24
    
    
}

.container2 > *:nth-child(295) {
    -ms-grid-row: 10;
    -ms-grid-column: 25
    
    
}

.container2 > *:nth-child(296) {
    -ms-grid-row: 10;
    -ms-grid-column: 26
    
    
}

.container2 > *:nth-child(297) {
    -ms-grid-row: 10;
    -ms-grid-column: 27
    
    
}

.container2 > *:nth-child(298) {
    -ms-grid-row: 10;
    -ms-grid-column: 28
    
    
}

.container2 > *:nth-child(299) {
    -ms-grid-row: 10;
    -ms-grid-column: 29
    
    
}

.container2 > *:nth-child(300) {
    -ms-grid-row: 10;
    -ms-grid-column: 30
    
    
}

.container2 > *:nth-child(301) {
    -ms-grid-row: 11;
    -ms-grid-column: 1
    
    
}

.container2 > *:nth-child(302) {
    -ms-grid-row: 11;
    -ms-grid-column: 2
    
    
}

.container2 > *:nth-child(303) {
    -ms-grid-row: 11;
    -ms-grid-column: 3
    
    
}

.container2 > *:nth-child(304) {
    -ms-grid-row: 11;
    -ms-grid-column: 4
    
    
}

.container2 > *:nth-child(305) {
    -ms-grid-row: 11;
    -ms-grid-column: 5
    
    
}

.container2 > *:nth-child(306) {
    -ms-grid-row: 11;
    -ms-grid-column: 6
    
    
}

.container2 > *:nth-child(307) {
    -ms-grid-row: 11;
    -ms-grid-column: 7
    
    
}

.container2 > *:nth-child(308) {
    -ms-grid-row: 11;
    -ms-grid-column: 8
    
    
}

.container2 > *:nth-child(309) {
    -ms-grid-row: 11;
    -ms-grid-column: 9
    
    
}

.container2 > *:nth-child(310) {
    -ms-grid-row: 11;
    -ms-grid-column: 10
    
    
}

.container2 > *:nth-child(311) {
    -ms-grid-row: 11;
    -ms-grid-column: 11
    
    
}

.container2 > *:nth-child(312) {
    -ms-grid-row: 11;
    -ms-grid-column: 12
    
    
}

.container2 > *:nth-child(313) {
    -ms-grid-row: 11;
    -ms-grid-column: 13
    
    
}

.container2 > *:nth-child(314) {
    -ms-grid-row: 11;
    -ms-grid-column: 14
    
    
}

.container2 > *:nth-child(315) {
    -ms-grid-row: 11;
    -ms-grid-column: 15
    
    
}

.container2 > *:nth-child(316) {
    -ms-grid-row: 11;
    -ms-grid-column: 16
    
    
}

.container2 > *:nth-child(317) {
    -ms-grid-row: 11;
    -ms-grid-column: 17
    
    
}

.container2 > *:nth-child(318) {
    -ms-grid-row: 11;
    -ms-grid-column: 18
    
    
}

.container2 > *:nth-child(319) {
    -ms-grid-row: 11;
    -ms-grid-column: 19
    
    
}

.container2 > *:nth-child(320) {
    -ms-grid-row: 11;
    -ms-grid-column: 20
    
    
}

.container2 > *:nth-child(321) {
    -ms-grid-row: 11;
    -ms-grid-column: 21
    
    
}

.container2 > *:nth-child(322) {
    -ms-grid-row: 11;
    -ms-grid-column: 22
    
    
}

.container2 > *:nth-child(323) {
    -ms-grid-row: 11;
    -ms-grid-column: 23
    
    
}

.container2 > *:nth-child(324) {
    -ms-grid-row: 11;
    -ms-grid-column: 24
    
    
}

.container2 > *:nth-child(325) {
    -ms-grid-row: 11;
    -ms-grid-column: 25
    
    
}

.container2 > *:nth-child(326) {
    -ms-grid-row: 11;
    -ms-grid-column: 26
    
    
}

.container2 > *:nth-child(327) {
    -ms-grid-row: 11;
    -ms-grid-column: 27
    
    
}

.container2 > *:nth-child(328) {
    -ms-grid-row: 11;
    -ms-grid-column: 28
    
    
}

.container2 > *:nth-child(329) {
    -ms-grid-row: 11;
    -ms-grid-column: 29
    
    
}

.container2 > *:nth-child(330) {
    -ms-grid-row: 11;
    -ms-grid-column: 30
    
    
}

.container2 > *:nth-child(331) {
    -ms-grid-row: 12;
    -ms-grid-column: 1
    
    
}

.container2 > *:nth-child(332) {
    -ms-grid-row: 12;
    -ms-grid-column: 2
    
    
}

.container2 > *:nth-child(333) {
    -ms-grid-row: 12;
    -ms-grid-column: 3
    
    
}

.container2 > *:nth-child(334) {
    -ms-grid-row: 12;
    -ms-grid-column: 4
    
    
}

.container2 > *:nth-child(335) {
    -ms-grid-row: 12;
    -ms-grid-column: 5
    
    
}

.container2 > *:nth-child(336) {
    -ms-grid-row: 12;
    -ms-grid-column: 6
    
    
}

.container2 > *:nth-child(337) {
    -ms-grid-row: 12;
    -ms-grid-column: 7
    
    
}

.container2 > *:nth-child(338) {
    -ms-grid-row: 12;
    -ms-grid-column: 8
    
    
}

.container2 > *:nth-child(339) {
    -ms-grid-row: 12;
    -ms-grid-column: 9
    
    
}

.container2 > *:nth-child(340) {
    -ms-grid-row: 12;
    -ms-grid-column: 10
    
    
}

.container2 > *:nth-child(341) {
    -ms-grid-row: 12;
    -ms-grid-column: 11
    
    
}

.container2 > *:nth-child(342) {
    -ms-grid-row: 12;
    -ms-grid-column: 12
    
    
}

.container2 > *:nth-child(343) {
    -ms-grid-row: 12;
    -ms-grid-column: 13
    
    
}

.container2 > *:nth-child(344) {
    -ms-grid-row: 12;
    -ms-grid-column: 14
    
    
}

.container2 > *:nth-child(345) {
    -ms-grid-row: 12;
    -ms-grid-column: 15
    
    
}

.container2 > *:nth-child(346) {
    -ms-grid-row: 12;
    -ms-grid-column: 16
    
    
}

.container2 > *:nth-child(347) {
    -ms-grid-row: 12;
    -ms-grid-column: 17
    
    
}

.container2 > *:nth-child(348) {
    -ms-grid-row: 12;
    -ms-grid-column: 18
    
    
}

.container2 > *:nth-child(349) {
    -ms-grid-row: 12;
    -ms-grid-column: 19
    
    
}

.container2 > *:nth-child(350) {
    -ms-grid-row: 12;
    -ms-grid-column: 20
    
    
}

.container2 > *:nth-child(351) {
    -ms-grid-row: 12;
    -ms-grid-column: 21
    
    
}

.container2 > *:nth-child(352) {
    -ms-grid-row: 12;
    -ms-grid-column: 22
    
    
}

.container2 > *:nth-child(353) {
    -ms-grid-row: 12;
    -ms-grid-column: 23
    
    
}

.container2 > *:nth-child(354) {
    -ms-grid-row: 12;
    -ms-grid-column: 24
    
    
}

.container2 > *:nth-child(355) {
    -ms-grid-row: 12;
    -ms-grid-column: 25
    
    
}

.container2 > *:nth-child(356) {
    -ms-grid-row: 12;
    -ms-grid-column: 26
    
    
}

.container2 > *:nth-child(357) {
    -ms-grid-row: 12;
    -ms-grid-column: 27
    
    
}

.container2 > *:nth-child(358) {
    -ms-grid-row: 12;
    -ms-grid-column: 28
    
    
}

.container2 > *:nth-child(359) {
    -ms-grid-row: 12;
    -ms-grid-column: 29
    
    
}

.container2 > *:nth-child(360) {
    -ms-grid-row: 12;
    -ms-grid-column: 30
    
    
}

.container2 > *:nth-child(361) {
    -ms-grid-row: 13;
    -ms-grid-column: 1
    
    
}

.container2 > *:nth-child(362) {
    -ms-grid-row: 13;
    -ms-grid-column: 2
    
    
}

.container2 > *:nth-child(363) {
    -ms-grid-row: 13;
    -ms-grid-column: 3
    
    
}

.container2 > *:nth-child(364) {
    -ms-grid-row: 13;
    -ms-grid-column: 4
    
    
}

.container2 > *:nth-child(365) {
    -ms-grid-row: 13;
    -ms-grid-column: 5
    
    
}

.container2 > *:nth-child(366) {
    -ms-grid-row: 13;
    -ms-grid-column: 6
    
    
}

.container2 > *:nth-child(367) {
    -ms-grid-row: 13;
    -ms-grid-column: 7
    
    
}

.container2 > *:nth-child(368) {
    -ms-grid-row: 13;
    -ms-grid-column: 8
    
    
}

.container2 > *:nth-child(369) {
    -ms-grid-row: 13;
    -ms-grid-column: 9
    
    
}

.container2 > *:nth-child(370) {
    -ms-grid-row: 13;
    -ms-grid-column: 10
    
    
}

.container2 > *:nth-child(371) {
    -ms-grid-row: 13;
    -ms-grid-column: 11
    
    
}

.container2 > *:nth-child(372) {
    -ms-grid-row: 13;
    -ms-grid-column: 12
    
    
}

.container2 > *:nth-child(373) {
    -ms-grid-row: 13;
    -ms-grid-column: 13
    
    
}

.container2 > *:nth-child(374) {
    -ms-grid-row: 13;
    -ms-grid-column: 14
    
    
}

.container2 > *:nth-child(375) {
    -ms-grid-row: 13;
    -ms-grid-column: 15
    
    
}

.container2 > *:nth-child(376) {
    -ms-grid-row: 13;
    -ms-grid-column: 16
    
    
}

.container2 > *:nth-child(377) {
    -ms-grid-row: 13;
    -ms-grid-column: 17
    
    
}

.container2 > *:nth-child(378) {
    -ms-grid-row: 13;
    -ms-grid-column: 18
    
    
}

.container2 > *:nth-child(379) {
    -ms-grid-row: 13;
    -ms-grid-column: 19
    
    
}

.container2 > *:nth-child(380) {
    -ms-grid-row: 13;
    -ms-grid-column: 20
    
    
}

.container2 > *:nth-child(381) {
    -ms-grid-row: 13;
    -ms-grid-column: 21
    
    
}

.container2 > *:nth-child(382) {
    -ms-grid-row: 13;
    -ms-grid-column: 22
    
    
}

.container2 > *:nth-child(383) {
    -ms-grid-row: 13;
    -ms-grid-column: 23
    
    
}

.container2 > *:nth-child(384) {
    -ms-grid-row: 13;
    -ms-grid-column: 24
    
    
}

.container2 > *:nth-child(385) {
    -ms-grid-row: 13;
    -ms-grid-column: 25
    
    
}

.container2 > *:nth-child(386) {
    -ms-grid-row: 13;
    -ms-grid-column: 26
    
    
}

.container2 > *:nth-child(387) {
    -ms-grid-row: 13;
    -ms-grid-column: 27
    
    
}

.container2 > *:nth-child(388) {
    -ms-grid-row: 13;
    -ms-grid-column: 28
    
    
}

.container2 > *:nth-child(389) {
    -ms-grid-row: 13;
    -ms-grid-column: 29
    
    
}

.container2 > *:nth-child(390) {
    -ms-grid-row: 13;
    -ms-grid-column: 30
    
    
}

.container2 > *:nth-child(391) {
    -ms-grid-row: 14;
    -ms-grid-column: 1
    
    
}

.container2 > *:nth-child(392) {
    -ms-grid-row: 14;
    -ms-grid-column: 2
    
    
}

.container2 > *:nth-child(393) {
    -ms-grid-row: 14;
    -ms-grid-column: 3
    
    
}

.container2 > *:nth-child(394) {
    -ms-grid-row: 14;
    -ms-grid-column: 4
    
    
}

.container2 > *:nth-child(395) {
    -ms-grid-row: 14;
    -ms-grid-column: 5
    
    
}

.container2 > *:nth-child(396) {
    -ms-grid-row: 14;
    -ms-grid-column: 6
    
    
}

.container2 > *:nth-child(397) {
    -ms-grid-row: 14;
    -ms-grid-column: 7
    
    
}

.container2 > *:nth-child(398) {
    -ms-grid-row: 14;
    -ms-grid-column: 8
    
    
}

.container2 > *:nth-child(399) {
    -ms-grid-row: 14;
    -ms-grid-column: 9
    
    
}

.container2 > *:nth-child(400) {
    -ms-grid-row: 14;
    -ms-grid-column: 10
    
    
}

.container2 > *:nth-child(401) {
    -ms-grid-row: 14;
    -ms-grid-column: 11
    
    
}

.container2 > *:nth-child(402) {
    -ms-grid-row: 14;
    -ms-grid-column: 12
    
    
}

.container2 > *:nth-child(403) {
    -ms-grid-row: 14;
    -ms-grid-column: 13
    
    
}

.container2 > *:nth-child(404) {
    -ms-grid-row: 14;
    -ms-grid-column: 14
    
    
}

.container2 > *:nth-child(405) {
    -ms-grid-row: 14;
    -ms-grid-column: 15
    
    
}

.container2 > *:nth-child(406) {
    -ms-grid-row: 14;
    -ms-grid-column: 16
    
    
}

.container2 > *:nth-child(407) {
    -ms-grid-row: 14;
    -ms-grid-column: 17
    
    
}

.container2 > *:nth-child(408) {
    -ms-grid-row: 14;
    -ms-grid-column: 18
    
    
}

.container2 > *:nth-child(409) {
    -ms-grid-row: 14;
    -ms-grid-column: 19
    
    
}

.container2 > *:nth-child(410) {
    -ms-grid-row: 14;
    -ms-grid-column: 20
    
    
}

.container2 > *:nth-child(411) {
    -ms-grid-row: 14;
    -ms-grid-column: 21
    
    
}

.container2 > *:nth-child(412) {
    -ms-grid-row: 14;
    -ms-grid-column: 22
    
    
}

.container2 > *:nth-child(413) {
    -ms-grid-row: 14;
    -ms-grid-column: 23
    
    
}

.container2 > *:nth-child(414) {
    -ms-grid-row: 14;
    -ms-grid-column: 24
    
    
}

.container2 > *:nth-child(415) {
    -ms-grid-row: 14;
    -ms-grid-column: 25
    
    
}

.container2 > *:nth-child(416) {
    -ms-grid-row: 14;
    -ms-grid-column: 26
    
    
}

.container2 > *:nth-child(417) {
    -ms-grid-row: 14;
    -ms-grid-column: 27
    
    
}

.container2 > *:nth-child(418) {
    -ms-grid-row: 14;
    -ms-grid-column: 28
    
    
}

.container2 > *:nth-child(419) {
    -ms-grid-row: 14;
    -ms-grid-column: 29
    
    
}

.container2 > *:nth-child(420) {
    -ms-grid-row: 14;
    -ms-grid-column: 30
    
    
}

.text-P {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: 'Mulish', sans-serif;
    .text-P2 {

    }
    .title {
        max-width: 495px;
        width: 100%;
        min-height: 130px;
        margin-left: 20px;
    }
    .text-P3 {
        max-width: 635px;
        width: 100%;
        min-height: 222px;
        margin-left: 20px;
        
        margin-top: 0%;
    }
    .table-P {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        max-width: 335px;
        width: 100%;
        min-height: 343px;
        line-height: normal;
        margin-top: 25px;
        
        
        
        .tr {
            stroke-linecap: #979797;
            border: 1px solid #979797;
        }
    }

}

.img {
    max-width: 1110px;
    width: 100%;
    min-height: 660px;
    margin-left: 20px;
    margin-right: 20px;
}

.text-P4 {
    max-width: 1109px;
    width: 100%;
    min-height: 93px;
    font-family: 'Mulish', sans-serif;
    margin-left: 20px;
}
.img2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 30px;
    
    margin-left: 20px;
    .img-a {
    max-width: 350px;
    width: 100%;
    min-height: 400px;
    margin-right: 30px;
    }
    .img-b {
        max-width: 350px;
        width: 100%;
        min-height: 400px;
        margin-right: 30px;

    }
    .img-c {
        max-width: 350px;
        width: 100%;
        min-height: 400px;

    }
}

.text-c {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    .text-c2 {

    }
    .titlec {
        max-width: 475px;
        width: 100%;
        min-height: 174px;
        margin-left: 20px;
        padding-right: 20px;
    }
    .text-c3 {
        max-width: 445px;
        width: 100%;
        min-height: 53px;
        margin-left: 20px;
        margin-bottom: 20px;
    }
    .form {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        max-width: 475px;
        width: 100%;
        min-height: 291px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        margin-left: 20px;
        ::-webkit-input-placeholder {

        }
        ::-moz-placeholder {

        }
        :-ms-input-placeholder {

        }
        ::-ms-input-placeholder {

        }
        ::placeholder {

        }

        input {
            width: 475px;
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom: 1px solid #979797;
            padding-top: 25px;
            line-height: 40px;
        }
        
       
        .btn {
            width: 125px;
            height: 50px;
            margin-top: 25px;
            line-height: 20px;
            color: #FFFFFF;
            background-color: #4A4FF2;
        }
        .btn:hover {
            background-color: darkblue;
        }
    }
}

.map {
    max-width: 1110px;
    width: 100%;
    min-height: 570px;
    margin-left: 20px;
    margin-bottom: 20px;
}
