@import "header";
@import "footer";

.body {
    display: flex;
    justify-content: center;
    max-width: 1360px;
    width: 100%;
    min-height: 1375px;
}

.text-c {
    max-width: 1100px;
    width: 100%;
    min-height: 343px;
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    .text-c2 {
        margin-right: 20px;

    }
    .titlec {
        max-width: 475px;
        width: 100%;
        
        
    }
    .text-c3 {
        max-width: 445px;
        width: 100%;
        min-height: 53px;
        display: flex;
        align-content: flex-start;
    }
    .form {
        min-width: 475px;
        width: 100%;
        min-height: 291px;
        display: flex;
        justify-content: flex-end;
        padding-right: 20px;
        
        
        ::placeholder {

        }
        input {
            display: flex;
        flex-direction: column;
            width: 475px;
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom: 1px solid #979797;
            padding-top: 25px;
            line-height: 40px;
        }
        
       
        .btn {
            width: 125px;
            height: 50px;
            margin-top: 25px;
            line-height: 20px;
            color: #FFFFFF;
            background-color: #4A4FF2;
        }
        .btn:hover {
            background-color: darkblue;
        }
    }
}

.map {
    display: flex;
    justify-content: center;
   
    margin-left: 20px;
    margin-right: 20px;
    
}

@media screen and (min-width: 320px) and (max-width: 900px) {
    .text-c {
       display: flex;
       flex-wrap: wrap;
   }
    
}    

   